/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02.12.2018, 11:15:34
    Author     : and1
*/

/** {
    box-sizing: border-box;
}*/


@media screen and (min-width: 601px) {
  .my-title {
    font-size: 2.5rem;
  }
  
  .my-subtitle {
    font-size: 1.5rem;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .my-title {
    font-size: 1.5rem;
  }
  
  .my-subtitle {
    font-size: 1rem;
  }
  
}





#header_menu0 {   
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: beige;
    text-align: center;
    padding: 10px;
    width: 100%;
    float: left;
}

#header_menu0:hover {   
    background-color: bisque;
}

.menu1 {
    width: 100%;
    float: left;
}

.button_header_menu1 {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: beige;
    text-align: center;
    float: left;
    width: 25%;
    padding: 10px;
    text-decoration: none;
}
.button_header_menu1:hover {   
    background-color: bisque;
}


.menu2 {
    width: 100%;
    float: left;
}


.button_header_menu2 {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: aqua;
    text-align: center;
    float: left;
    width: 14.28%;
    padding: 10px;
}
.button_header_menu2:hover {   
    background-color: aquamarine;
}

.button_header_menu3 {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: aqua;
    text-align: center;
    float: left;
    width: 50%;
    padding: 10px;
}
.button_header_menu3:hover {   
    background-color: aquamarine;
}

.button_header_menu4 {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: aqua;
    text-align: center;
    float: left;
    width: 33.3333%;
    padding: 10px;
}
.button_header_menu4:hover {   
    background-color: aquamarine;
}



.add_rt_part {
    width: 100%;
    float: left;
}

  /*clear floats after the columns*/
.add_rt_part:after {
    content: "";
    clear: both;
    display: table;
}

.save_result_success {
    width: 100%;
    text-align: center;
    color: green;
}

.save_result_error {
    width: 100%;
    text-align: center;
    color: red;
}

.rt_title {
    width: 100%;
    text-align: center;
    color: navy;
    font-weight: bold;
}

#json_test {
    width: 100%;
}



.ref_block {
    display: block;
    text-decoration: none;
}


.div_row {
    float: left;
    width: 100%;
}

.collumn_name {
    float: left;
    width: 40%;
}
.collumn_value {
    float: left;
    width: 60%;
}

.collumn_name_freq {
    float: left;
    width: 100%;
}

.collumn_value_freq {
    float: left;
    width: 100%;
}

.input_field {
    width: 100%;
}

textarea.input_field {
    width: 100%;
    min-height: 40px;
    min-width: 200px;
}

textarea.input_field_modal {
    width: 100%;
    min-height: 50px;
    resize: vertical;
    margin-bottom: 5px;
}

textarea.input_field_mange_db {
    min-height: 50px;
    min-width: 200px;
    /*resize: vertical;*/
    
}
input_field_mange_db {
    min-height: 50px;
    min-width: 300px;
    /*resize: vertical;*/
    
}


.error {
    color: #FF0000;
}

.ref_block {
    display: block;
}



