/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02.12.2018, 11:15:34
    Author     : and1
*/

/*#search {
    border-style: dotted;
    border-color: black;
    border-width: 1px;
    padding: 10px;
}*/

#search_form {
    border-style: dotted;
    border-color: black;
    border-width: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 1px;
    margin-right: 1px;
    background-color: lightgray
}

#search_main {
    /*float: left;*/
}

#search_checkboxs {
    /*float: left;*/
}

/* clear floats after the columns*/
/*#search:after {
    content: "";
    display: table;
    clear: both;
}*/

#button_add_rt {
/*    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: beige;*/
}

.zk_table_style {
    border: solid 1px black;
    margin-left: auto;
    margin-right: auto;
}

.zk_table_style_th_td {
    border: solid 1px black;
    /*width: 150px;*/
    text-align: center;
}

.zk_table_style_tr {
    border: solid 1px black;
    width: 150px;
}

p.table_descr_style {
    border: solid 1px black;
    /*width: 150px;*/
    overflow: scroll;
}


.sk_table_style {
    border: solid 1px green;
    color: green;
}

.sk_table_style_th_td {
    border: solid 1px green;
    color: green;
    width: 150px;
    text-align: center;    
}

.sk_table_style_tr {
    border: solid 1px green;
    color: green;
    width: 150px;
}


#select_rt_div {
    padding-top: 5px;
    padding-bottom: 5px;
}

#select_db_div {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 1px;
    margin-right: 1px;
    background-color: lightgray
}

/* так можно поменять цвет границ таблицы
table.table-bordered{
    border:1px solid blue;
    margin-top:20px;
}
table.table-bordered > thead > tr > th{
    border:1px solid blue;
}
table.table-bordered > tbody > tr > td{
    border:1px solid blue;
}*/